
<div class="add-new-board pt-3 pb-3">
  <a class="btn btn-link" href="/" role="button">Back to home</a>
  <a class="btn btn-link" href="/boards" role="button">View all boards</a>
</div>

<div class="mb-3 mt-3">
  <h2>Mime Sweeper board generator</h2>
</div>

<%= form_for @board, class: "form-horizontal board-form" do |form| %>
  <div class="form-group mb-3">
    <%= form.label :name, 'Board Name', class: "form-label col-sm-4" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= form.label :height, class: "form-label col-sm-4" %>
    <div class="col-sm-10">
      <%= form.number_field :height, class: "form-control", required: true, min: 1, step: "1" %>
    </div>
  </div>
  <div class="form-group mb-3">
    <%= form.label :width, class: "form-label col-sm-4" %>
    <div class="col-sm-10">
      <%= form.number_field :width, class: "form-control", required: true, min: 1, step: "1" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= form.label :num_mimes, 'Number of mimes', class: "form-label col-sm-4" %>
    <div class="col-sm-10">
      <%= form.number_field :num_mimes, class: "form-control", required: true, min: 0, step: "1" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= form.label :creator_email, 'Your Email', class: "form-label col-sm-4" %>
    <div class="col-sm-10">
      <%= form.email_field :creator_email, class: "form-control", required: true, pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" %>
    </div>
  </div>

  <div class="form-group mb-3">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "Generate Board", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>